.wrapper {
    position: fixed;
    bottom: 0;
    height: var(--default-layout-controller-height);
    min-width: 768px;
    padding: 0 20px;
    background-color: var(--white);
    border-top: 1px solid var(--border-player);

    background-color: #111f3b;
    border-top: 1px solid #ffffff1a;
    width: 100%;
}
