.wrapper {
    position: absolute;
    bottom: 0;
    height: 90px;
    min-width: 768px;
    padding: 0 20px;
    background-color: var(--white);
    border-top: 1px solid var(--border-player);

    background-color: #38fad7;
    width: 100%;
}
