.wrapper {
    height: 100%;
    width: 100%;
    align-items: center;
}

.body {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebar {
}

.container {
    display: flex;
    position: relative;
    left: var(--default-layout-sidebar-width);
    flex-direction: column;
    max-width: 100%;
    width: var(--default-layout-width);
    min-width: var(--default-layout-width);
    background-color: #162a45;
    align-items: center;
}

.content {
    flex: 1;
    margin-top: var(--default-layout-header-height);
}
